// Icons
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

// Variables
@import 'variables';
@import 'theming';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-family: $en-font !important;
}

.jp-body {
    font-family: $jp-font !important;
}

.notify-layout {
    position: fixed;
    top: 70px;
    right: 20px;
    min-width: 350px;
    z-index: 4;
}
